<?xml version="1.0"?><robot name="pepe">
	<link name="0">
		<visual>
			<geometry>
				<cylinder length="1.848696671994538" radius="0.22291556970490983"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<cylinder length="1.848696671994538" radius="0.22291556970490983"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.2886000077562378"/>
			<inertia ixx="0.03" ixy="0" ixz="0" iyx="0" iyy="0.03" izz="0.03"/>
		</inertial>
	</link>
</robot>
