<?xml version="1.0"?><robot name="pepe">
	<link name="0">
		<visual>
			<geometry>
				<cylinder length="0.1840588742756495" radius="0.7477842884599845"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.1840588742756495" radius="0.7477842884599845"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.32333990492988784"/>
			<inertia ixx="0.03" ixy="0" ixz="0" iyx="0" iyy="0.03" izz="0.03"/>
		</inertial>
	</link>
</robot>
